.reg-form {
    margin: 1rem 20% 1rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reg-form h3 {
    margin-bottom: 1rem;
}

.reg-form input {
    border-radius: .7rem;
    border: 1px solid #c3c3c4;
    padding: 0.5rem 0.7rem;
    margin-bottom: 0.7rem;
}

.reg-btn {
    background-color: #000;
    color: white;
    border: none;
    border-radius: 3rem;
    margin: 0.4rem 0 1rem;
    padding: 0.5rem 1rem;
}

.message {
    font-size: 0.9rem;
    position: absolute;
    bottom: -2.4rem;
}

.success {
    color: green;
}

.error {
    color: rgb(214, 53, 24);
}