.container {
    box-shadow: rgba(0,0,0,0.2) 0 5px 10px;
    border-radius: .25rem;
    background-color: white;
    padding: 4.5rem 3rem;
    margin-bottom: 3rem;
}

.container h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.container h2 {
    margin-top: 1rem;
    font-size: 1.6rem;
}

.container h1, .container h2 {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}

.categories-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.category-wrapper {
    font-weight: 400;
}

.category-wrapper img {
    width: 100%;
}