.container {
    margin: 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter {
    margin: 1.5rem 0;
    text-transform: uppercase;
}

.container div {
    margin-bottom: 1rem;
}