.container {
    margin: 0 20%;
    text-align: center;
}

.container button {
    border-radius: 4px;
    border: none;
    background-color: #000;
    color: white;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
}

.container button:hover {
    color: rgb(221, 221, 221);
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    color: white;
    padding: 1rem;
}

nav > *:hover {
    opacity: 0.85;
}

