* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

main {
    margin: 1rem 10%;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

/* Remove ugly number input buttons */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
}